img{
    height: 200px;
    padding: 50px;
}
button{
  padding: 10px;
  background-color: aqua;
  border-radius:10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size:15px;
  
}
.http{
    display: flex;
    
}
.main{
    text-align: center;
    background-color:pink;
    
}

.child{
    display: flex;
    background-color: cadetblue;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.child2{
    display: flex;
    background-color: brown;
    justify-content: center;
    align-items: center;
    text-align: center;
}



